



.navbar{
    background-color: #f8f5f5;
}
 .Phantasy{
     margin: 15px 15px 15px 15px;
 }
 .Home{
    margin-top: 15px;
    padding-top: 15px;
 }
 .espaço{
     margin-top:15px ;
     padding-top: 15px;
     font-style: normal;
     text-transform: none;
 }
 .espaço_2{

    margin-left: 6px;
    padding-left: 6px;
 }
 .margin{
     padding-top: 15x;
     padding-right: 15cm ;
 }
 .bg-footer{
     
     background-color: black;
     color: white;
 }
 .credito{
     padding-left: 4cm;
 }
 